*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

# Security: Ignore real routes
/routes/web.php
/routes/api.php

# Security: Ignore debug logs & private notes
docker-ps.txt
note.md

# Security: Ignore API Controllers (Privasi Logika)
/app/Http/Controllers/Api/

# Databases
database/*.mysql
database/*.sql
database/*.sqlite*
